{% extends 'base.html.twig' %}

{% block title %}Lieu index{% endblock %}

{% block body %}
    <h1>Lieu index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Types de Pokemon</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for lieu in lieux %}
            <tr>
                <td>{{ lieu.nom }}</td>
                <td>
                    {% for row in lieu.idType %}
                        {{ row.type }}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('capture', {'id': lieu.id}) }}">Explore</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun lieu à visiter</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
