{% extends 'base.html.twig' %}

{% block title %}Dresseur{% endblock %}

{% block body %}
    <h1>Dresseur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Pseudo</th>
                <td>{{ dresseur.pseudo }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('home') }}">home</a>

    <a class="btn btn-primary" href="{{ path('dresseur_edit', {'id': dresseur.id}) }}">edit</a>

{% endblock %}
